# Save as: azure.env

# if you want to use a different location than eastus, you can change this
AZURE_LOCATION="eastus"

# fill in your Azure subscription ID
AZURE_SUBSCRIPTION_ID="..."

# pick an appropriate name for the function app
# you *must* change this, since you cannot duplicate any existing Function App name
AZURE_FUNCTION_APP_NAME="..." # e.g. slack-secret-scanning-notifier-<suffix>

# pick an appropriate name for a new resource group
AZURE_RESOURCE_GROUP="${AZURE_FUNCTION_APP_NAME}-rg"
